<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <form action="/register" method="post">
            <input type="text" name="email" id="email" placeholder="email"><br>
            <input type="text" name="username" id="username" placeholder="username" required><br>
            <input type="password" name="password" id="password" required placeholder="password"><br>
            <button>Submit</button>
        </form>

        <a href="/login">already registered</a>
    </div>

</body>
</html>